@charset "UTF-8";
.main-img {
  position: relative;
  width: 100vw;
  height: 1000px;
  background-image: url("../assets/main-img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.typing {
  position: absolute;
  top: 50%;
  left: 20%;
  width: 500px;
  height: 55px;
  display: flex;
  font-size: 1.9rem;
  border-bottom: 1px solid white;
}
.typing span {
  margin: 0 15px;
  color: purple;
  font-size: 50px;
  font-weight: 900;
  line-height: 2.8rem;
}
.typing .text {
  color: yellow;
  font-size: 30px;
  margin-left: 0.6rem;
  line-height: 0.8rem;
}
.typing .text::after {
  content: "";
  border-right: 2px solid #777;
  animation: cursor 0.9s infinite steps(2);
}

@keyframes cursor {
  from {
    border-right: 2px solid #222;
  }
  to {
    border-right: 2px solid #777;
  }
}
.sub-title {
  position: absolute;
  top: 56%;
  left: 20%;
  margin-left: 10px;
  width: 500px;
  height: 55px;
  font-size: 25px;
  color: white;
}

.site-explanation {
  position: absolute;
  top: 80%;
  width: 100vw;
  height: 150px;
  padding: 40px;
  background-color: #181818;
  box-shadow: 0px -15px 30px 0px rgba(0, 0, 0, 0.8);
  color: white;
  text-align: center;
  font-size: 18px;
}
.site-explanation h2 {
  margin-bottom: 30px;
}
.site-explanation span {
  font-weight: 600;
  font-size: 20px;
  color: rgb(165, 0, 165);
}

.top-movies, .upcoming-movies {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding: 25px 0;
}

h2, h5 {
  margin-bottom: 10px;
}

.topMovie-list, .upcomingMovie-list {
  display: flex;
  width: 200%;
  transition: all 1s;
  overflow: hidden;
}

.top-movie-card, .upcoming-movie-card {
  width: 20%;
  margin-right: 15px;
  overflow: hidden;
  border-radius: 15px;
}
.top-movie-card img, .upcoming-movie-card img {
  width: 100%;
  height: 430px;
  transition: all 0.2s linear;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}
.top-movie-card img:hover, .upcoming-movie-card img:hover {
  transform: scale(1.1);
}

.next, .previous {
  visibility: hidden;
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;
  opacity: 0;
  transition: all 0.5s;
}

.next {
  right: 14px;
}

.infinite-movie-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.infinite-movie-list .infinite-movie-card {
  width: 24%;
  margin-bottom: 15px;
  border-radius: 15px;
  overflow: hidden;
}
.infinite-movie-list img {
  width: 100%;
  height: 500px;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  transition: all 0.2s linear;
}
.infinite-movie-list img:hover {
  transform: scale(1.1);
}

.top-btn a {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 25px;
  bottom: 100px;
  width: 75px;
  height: 75px;
  text-align: center;
  text-decoration: none;
  background-color: skyblue;
  font-weight: bold;
  line-height: 50px;
  opacity: 0;
  font-size: 20px;
  color: black;
  transition: 0.7s ease;
  border-radius: 50%;
}
.top-btn .on {
  opacity: 1;
  bottom: 50px;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .nav-menu {
    width: 100%; /* 모바일 화면에 대응하여 전체 너비로 변경 */
  }
  .nav-btn .search-box {
    right: 90px; /* 검색 상자 위치 조정 */
  }
  .nav-btn .nav-toggle {
    right: 10px; /* 네비게이션 토글 위치 조정 */
  }
}/*# sourceMappingURL=main-img.css.map */